<div class="lightbox" :class="{ 'active': lightboxOpen }" @click="closeLightbox()">
    <img :src="currentImages[lightboxIndex]?.url"
         :alt="currentImages[lightboxIndex]?.name"
         class="lightbox-content"
         @click.stop>

    <template x-if="currentImages.length > 1">
        <div>
            <button class="lightbox-prev" @click.stop="previousImage()">
                <i data-lucide="chevron-left" style="width: 24px; height: 24px;"></i>
            </button>
            <button class="lightbox-next" @click.stop="nextImage()">
                <i data-lucide="chevron-right" style="width: 24px; height: 24px;"></i>
            </button>
        </div>
    </template>

    <button class="lightbox-close" @click="closeLightbox()">
        ×
    </button>

    <div class="lightbox-info">
        <div class="fw-bold" x-text="currentImages[lightboxIndex]?.name"></div>
        <div class="small opacity-75" x-text="`Order: ${currentImages[lightboxIndex]?.order} • ${lightboxIndex + 1} of ${currentImages.length}`"></div>
        <div x-show="currentImages[lightboxIndex]?.altText" class="small opacity-75 mt-1" x-text="currentImages[lightboxIndex]?.altText"></div>
    </div>
</div>